DB_URL=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

SUPER_ADMIN_NAME=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

FRONTEND_URL=http://localhost:5173